#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  gap: 15px;
}

#main-container h2 {
  margin-top: -2%;
  margin-bottom: -1%;
}

#greetings-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
}

#scoreboard-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 25px;
}

@media (max-width: 550px) {
  #scoreboard-container {
    flex-direction: column;
    gap: 5px;
  }
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: black;
  min-width: 300px;
  max-width: 350px;
  width: 20%;
  height: auto;
  border: 3px solid transparent;
  transition: border-color 0.25s ease, width 0.3s ease, height 0.3s ease;
}

@media (max-width: 550px) {
  .card {
    min-width: 150px;
    height: 200px;
  }
}

.card-image {
  width: 100%;
  height: 300px;
}

@media (max-width: 550px) {
  .card-image {
    height: 144px;
  }
}

.card p {
  font-weight: bold;
}

.card:hover {
  cursor: pointer;
  border-color: #646cff;
}

#footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  padding: 15px;
  margin-top: 4%;
}
